@inherits LayoutComponentBase

<div class="page">
    <main>
        <MenuComponent />
        <article class="content px-4">
            @Body
        </article>
        <FooterComponent />
    </main>
</div>

