<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        
        <button class="navbar-toggler navright" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center " id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link navright" href="#" target="_top">Home</a>
                <a class="nav-link navright" href="#about" target="_top">About</a>
                <a class="nav-link navright" href="#contact" target="_top">Contact</a>
            </div>
        </div>
    </div>
</nav>

@code {

}

