<a href="https://twitter.com/HarriHonkanen2?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-lang="en" data-show-count="false">
    Follow @@HarriHonkanen2
</a>
<a class="twitter-timeline" href="https://twitter.com/HarriHonkanen2?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by HarriHonkanen2</a>
@code {

    //Functions after blazor has rendered all components
    protected override void OnAfterRender(bool firstRender)
    {
        // execute conditionally for loading data, otherwise this will load
        // every time the page refreshes
        if (firstRender)
        {
            // Do work to load page data and set properties
            string testitesti = "";
        }
    }
}

