@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Portfolio under development.</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="/assets/img/profilepicture/1.jpg" alt="Profile picture" style="max-width: 100%; height: auto; max-height: 295px" />
            </div>
            <div class="col-md-4">
                <img src="/assets/img/profilepicture/2.jpeg" alt="Profile picture" style="max-width: 100%; height: auto; max-height: 295px" />
            </div>
        </div>

    </div>
</div>

<!-- About-->
<section class="page-section" id="about" style="background-color: rgb(248,249,250);">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About me</h2>
            <h4> Software, Industrial Automation</h4>
            <div class="section-description-box">
                <p>
                    I have graduated from Satakunta University of Applied Sciences in 2018 as a Bachelor of Engineering (BEng).
                    While finishing studies and after graduation I have been working in Industrial automation.
                    Main focus on software programming for automation controllers and in addition user interfaces, documentation, commissioning, training and consulting.
                    I have worked in battery industry, paper industry and car industry.
                </p>
            </div>

            <h3 class="section-subheading text-muted">Timeline</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2014-2018</h4>
                        <h4 class="subheading">University of Applied Sciences</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Satakunta University of Applied Sciences. Bachelor of Electrical and Automation Engineering. Main focus on automation studies.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2016</h4>
                        <h4 class="subheading">Working in the field</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">I started working for <a href="https://www.valmet-automotive.com/fi/" target="_blank">Valmet Automotive</a>. I gained experience in automation technology in paint shop. </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2018</h4>
                        <h4 class="subheading">Travelling abroad</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">I started to work for <a href="https://www.raumasterpaper.fi" target="_blank">Raumaster Paper</a>. I gained plenty of experience in Siemens automation ecosystem. Projects for paper industry. Conveyors, turntables, lifts, portal-robots, wastecutters, machine safety, MES-interfaces. Main focus in PLC software, documentation and commissioning abroad.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpeg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021</h4>
                        <h4 class="subheading">Back to basics</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">I started to work for <a href="https://enmac.fi" target="_blank">Enmac</a>. I have gained alot more experience in Siemens automation ecosystem. Projects mainly for battery business. Conveyors, turntables, lifts, gantry robots, machine vision, MES-interfaces.  Main focus on team leading, PLC software, documentation and commissioning. </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        More
                        <br />
                        Coming
                        <br />
                        Soon!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact" style="background-color: rgb(255,255,255);">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact</h2>
            <div class="section-description-box">
                <p>
                    Coming soon. :-)
                </p>
            </div>
        </div>
    </div>
</section>
